@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
		/* font-display: optional; - рекомендация от гугла */
	}
}


@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('Open-Sans-Light-Italic'),
        url('../fonts/OpenSans/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@include font('OpenSans', normal, 400, '../fonts/OpenSans/OpenSans-Regular.woff2');

@include font('PTSans', normal, 400, '../fonts/PTSans/PTSans-Regular.woff2');

@include font('Oswald', normal, 200, '../fonts/Oswald/Oswald-Light.woff2');
@include font('Oswald', normal, 500, '../fonts/Oswald/Oswald-Medium.woff2');
@include font('Oswald', normal, 700, '../fonts/Oswald/Oswald-Bold.woff2');
@include font('Oswald', normal, 900, '../fonts/Oswald/Oswald-Heavy.woff2');